{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Mafia - Familles{% endblock %}

{% block fos_user_content %}

    {% for famille in familles %}
            <div class="well">
                <table>
                    <tr>
                        <td><img class="imgFamille" src="{{ famille.image }}"/></td>
                        <td>
                            <a href="{{ path('vue_famille',{id:famille.id}) }}">{{ famille.nom }} - [{{ famille.tag }}]</a><br/>
                            Chef : {{ famille.chef }}<br/>
                            {{ famille.pointsFamille }} points
                        </td>
                    </tr>
                </table>
            </div>
    {% endfor %}

{% endblock %}