{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Mafia - Famille{% endblock %}

{% block fos_user_content %}

    <h3>{{ famille.nom }}</h3>

    {% if app.user.famille == null %}<a href="{{ path("postuler_famille",{id : famille.id}) }}">Postuler</a>{% endif %}
    <div style="display:table;width: 80%">
        <ul style="display:table-cell">
            {% for membre in membres %}

                <li>{% if famille.chef == membre %}Créateur : {% endif %}{{ membre.username }}{% if app.user == famille.chef and membre != app.user %}<a href="{{ path("virer_membre",{'id':membre.id}) }}">Eliminer</a>{% endif %}</li>

            {% endfor %}
        </ul>

        <div style="display:table-cell">
            Description : {{ famille.description }}
        </div>

    </div>

    {% if app.user.famille == famille %}
        <div style="border: solid 2px blue">
            {% include 'MafiaFamilleBundle:Templates:chat.html.twig' with {'chat' : famille.chat}  %}
            <div class="well">
                <form method="post" {{ form_enctype(form) }}>
                    {{ form_widget(form) }}
                    <input type="submit" class="btn btn-primary" />
                </form>
            </div>
        </div>
    {% endif %}

    {% if app.user == famille.chef %}
        <div style="display:table;width: 80%">
            <div style="display:table-cell">
                {% for demande in famille.demandes %}
                    {% include 'MafiaFamilleBundle:Templates:demandeEntree.html.twig' with {'demande' : demande}  %}
                {% endfor %}
            </div>
            <div style="display:table-cell">
                {% if app.user == famille.chef %}
                    <form action="{{ path("creation_proposition") }}" method="post">
                        <label>
                            Pseudo de la personne à inviter :<input name="pseudoUser" type="text"/>
                        </label>
                        <label>
                            Message de la proposition :<textarea name="messageProposition">Viens dans notre famille !</textarea>
                        </label>
                        <input type="submit" value="Proposer" />
                    </form>
                {% endif %}
                {% for proposition in famille.propositions %}
                    {% include 'MafiaFamilleBundle:Templates:proposition.html.twig' with {'proposition' : proposition}  %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}