{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Mafia - Composition{% endblock %}

{% block fos_user_content %}

    <script>
        var composition = [];
        var idSelectionnee;
        var nomSelectionne;
        var uniqueSelectionne;
        var ancienSelect;
        var nombreElem = 0;
        function ajoutCompo(id, nom, unique)
        {

            var li;
            if(unique){
                if(document.getElementsByClassName("elem" + id).length <= 0) {
                    li = document.createElement("li");
                    li.appendChild(document.createTextNode(nom));
                    li.id = "elem" + nombreElem + id;
                    li.className = "elem" + id;
                    nombreElem ++ ;
                    li.onclick = function () {
                        boutonEnleve(li.id,id);
                    };
                    $('#tableauCompo').append(li);
                    composition.push(id);
                }
                else{
                    alert("Cet élément est unique dans une composition !")
                }

            }
            else{
                li = document.createElement("li");
                li.appendChild(document.createTextNode(nom));
                li.id = "elem" + nombreElem + id;
                li.className = "elem" + id;
                nombreElem ++ ;
                li.onclick = function () {
                    boutonEnleve(li.id,id);
                };
                $('#tableauCompo').append(li);
                composition.push(id);
            }
        }

        function boutonEnleve(identifiantElem, id)
        {
            $("#"+identifiantElem).remove();
            composition.splice($.inArray(id, composition),1);
            for(var i in composition)
            {
                alert(composition[i]);
            }
        }

        function boutonAjout(id,nom,unique)
        {
            idSelectionnee = id;
            nomSelectionne = nom;
            uniqueSelectionne = unique;
            $(ancienSelect).css('background-color','');
            ancienSelect = "#role" + id;
            $("#role" + id).css('background-color','#00CCFF');
        }

        function validerCompo()
        {
            $.post('{{ path('ajout_compo')}}', { composition: composition},function(data) {
                document.location.href="{{ path('vue_role', {'id':1}) }}";
            });
        }
    </script>
    <h3>Création d'une composition</h3>

    <h4>Ville</h4>
    <ul>
        {% for role in roles if role.enumFaction == constant('Mafia\\RolesBundle\\Entity\\FactionEnum::VILLE') %}
            <li id="{{ "role" ~ role.id }}" onclick="boutonAjout({{ role.id }},'{{ role.nomRole }}',{{ role.roleUnique ? 1 : 0 }});">{{ role.nomRole }}  </li>
        {% endfor %}
    </ul>

    <h4>Mafia</h4>
    <ul>
        {% for role in roles if role.enumFaction == constant('Mafia\\RolesBundle\\Entity\\FactionEnum::MAFIA') %}
            <li id="{{ "role" ~ role.id }}" onclick="boutonAjout({{ role.id }},'{{ role.nomRole }}',{{ role.roleUnique ? 1 : 0 }});">{{ role.nomRole }} </li>
        {% endfor %}
    </ul>

    <h4>Neutre</h4>
    <ul>
        {% for role in roles if role.enumFaction == constant('Mafia\\RolesBundle\\Entity\\FactionEnum::NEUTRE') %}
            <li id="{{ "role" ~ role.id }}" onclick="boutonAjout({{ role.id }},'{{ role.nomRole }}',{{ role.roleUnique ? 1 : 0 }});">{{ role.nomRole }}  </li>
        {% endfor %}
    </ul>

    <button id="boutonAjout" onclick="ajoutCompo(idSelectionnee,nomSelectionne,uniqueSelectionne);"  >></button>

    <h3>Composition</h3>
    <ul id="tableauCompo">

    </ul>

    <button onclick="validerCompo();">
        Valider
    </button>
{% endblock %}