{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Mafia - MP avec {{ contact.username }}{% endblock %}

{% block fos_user_content %}

    {# Début du code pour la Popup #}
    <script>
        jQuery(function($){

            //Lorsque vous cliquez sur un lien de la classe poplight
            $('a.poplight').on('click', function() {
                var popID = $(this).data('rel'); //Trouver la pop-up correspondante
                var popWidth = $(this).data('width'); //Trouver la largeur

                //Faire apparaitre la pop-up et ajouter le bouton de fermeture
                $('#' + popID).fadeIn().css({ 'width': popWidth}).prepend('<a href="#" class="close"><img src="{{ asset('img/bouton-fermer.png') }}" class="btn_close" title="Close Window" alt="Close" /></a>');

                //Récupération du margin, qui permettra de centrer la fenêtre - on ajuste de 80px en conformité avec le CSS
                var popMargTop = ($('#' + popID).height() + 80) / 2;
                var popMargLeft = ($('#' + popID).width() + 80) / 2;

                //Apply Margin to Popup
                $('#' + popID).css({
                    'margin-top' : -popMargTop,
                    'margin-left' : -popMargLeft
                });

                //Apparition du fond - .css({'filter' : 'alpha(opacity=80)'}) pour corriger les bogues d'anciennes versions de IE
                $('body').append('<div id="fade"></div>');
                $('#fade').css({'filter' : 'alpha(opacity=80)'}).fadeIn();

                return false;
            });


            //Close Popups and Fade Layer
            $('body').on('click', 'a.close, #fade', function() { //Au clic sur le body...
                $('#fade , .popup_block').fadeOut(function() {
                    $('#fade, a.close').remove();
                }); //...ils disparaissent ensemble

                return false;
            });


        });
        function repondre(id){
            $.post('{{ path('repondre_message')}}',{id: id, message:$('#text'+id).val()}, function (data) {
                if(data['statut'] == "FAIL"){
                    alert("fail");
                }
                else
                {
                    window.location.reload();
                }
            });
        }
    </script>
    {# Fin du code pour la Popup #}

        <fieldset>
            <label>{{ contact.username }}</label>
            <table>
                {% for message in messages %}
                    <tr>
                        <td>{% if message.recepteur == app.user %}Reçu :{% else %}Envoyé :{% endif %}</td>
                        <td>{{ message.texte }} - le {{ message.dateEnvoi | date('d/m/Y H:i:s') }}</td>
                    </tr>
                {% endfor %}
            </table>
        </fieldset>

        <a href="#" data-width="500" data-rel="{{ "popup_name"~contact.id  }}" class="poplight">Répondre</a>
        <div class="popup_block" id={{ "popup_name"~contact.id  }} >
            <textarea id="{{ "text"~contact.id  }}"></textarea><label for="{{ "text"~contact.id }}"></label>
            <button onclick="repondre({{ contact.id  }});">Envoyer</button>
        </div>

    {% include 'MafiaFamilleBundle:Templates:pagination_avec_id.html.twig' with {'id':contact.id, 'pathMethode' : 'liste_messages', 'pageCourante':pageCourante, 'nbPages' : nbPages}  %}

{% endblock fos_user_content %}
