{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Mafia - Jouer{% endblock %}

{% block fos_user_content %}
    <script>
        var phase = {{ partie.phaseEnCours }};

        var enVieId = [];
        var enViePseudo = [];
        {% for key, vivant in enVieId %}
            enVieId[{{ key }}] = {{ vivant }};
            enViePseudo[{{ key }}] = {{ enViePseudo[key] }};

        {% endfor %}

        function charger(){
            setInterval( function(){
                demanderInfo();
        }, 4000);
        }


        function chargerVivants()
        {
            var listeEnVie = $("#joueursEnVie");
            var li;
            if(document.getElementsByClassName("joueurEnVie").length != enVieId.length)
            {
                listeEnVie.empty();
                for(var i in enViePseudo)
                {
                    li = document.createElement("li");
                    li.appendChild(document.createTextNode(enViePseudo[i]));
                    li.className = "joueurEnVie";
                    listeEnVie.append(li);
                }
            }
        }

        function demanderInfo(){
            if(phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::AUBE') }})
            {
                $.post('{{ path('demande_info_aube')}}', {
                    }, function (data) {
                        if(data['statut'] == "FAIL"){
                            alert("fail");
                        }
                        else
                        {
                            phase = data["phase"];
                            $('#phaseEnCours').text(phase);
                        }
                });
            }
            else if(phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::JOUR') }})
            {
                $.post('{{ path('demande_info_jour')}}', {
                }, function (data) {
                    if(data['statut'] == "FAIL"){
                        alert("fail");
                    }
                    else
                    {
                        enVieId = data['enVieId'];
                        enViePseudo = data['enViePseudo'];
                        chargerVivants();
                        phase = data["phase"];
                        $('#phaseEnCours').text(phase);
                    }
                });
            }
            else if(phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::DISCUSSION') }})
            {
                $.post('{{ path('demande_info_discussion')}}', {
                }, function (data) {
                    if(data['statut'] == "FAIL"){
                        alert("fail");
                    }
                    else
                    {
                        phase = data["phase"];
                        $('#phaseEnCours').text(phase);
                    }
                });
            }
            else if(phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::NUIT') }})
            {
                $.post('{{ path('demande_info_nuit')}}', {
                }, function (data) {
                    if(data['statut'] == "FAIL"){
                        alert("fail");
                    }
                    else
                    {
                        phase = data["phase"];
                        $('#phaseEnCours').text(phase);
                    }
                });
            }
            else if(phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::TRIBUNAL_DEFENSE') }})
            {
                $.post('{{ path('demande_info_tribunal_defense')}}', {
                }, function (data) {
                    if(data['statut'] == "FAIL"){
                        alert("fail");
                    }
                    else
                    {
                        phase = data["phase"];
                        $('#phaseEnCours').text(phase);
                    }
                });
            }
            else if(phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::TRIBUNAL_VOTE') }})
            {
                $.post('{{ path('demande_info_tribunal_vote')}}', {
                }, function (data) {
                    if(data['statut'] == "FAIL"){
                        alert("fail");
                    }
                    else
                    {
                        phase = data["phase"];
                        $('#phaseEnCours').text(phase);
                    }
                });
            }
            else if(phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::RESULTAT_VOTE') }})
            {
                $.post('{{ path('demande_info_vote_resultat')}}', {
                }, function (data) {
                    if(data['statut'] == "FAIL"){
                        alert("fail");
                    }
                    else
                    {
                        phase = data["phase"];
                        $('#phaseEnCours').text(phase);
                    }
                });
            }
            else if(phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::EXECUTION') }})
            {
                $.post('{{ path('demande_info_execution')}}', {
                }, function (data) {
                    if(data['statut'] == "FAIL"){
                        alert("fail");
                    }
                    else
                    {
                        phase = data["phase"];
                        $('#phaseEnCours').text(phase);
                    }
                });
            }

        }
        charger();
        chargerVivants();
    </script>


    <h2>Cay le jeu !</h2>

    <p id="phaseEnCours"></p>

    <ul id="joueursEnVie"></ul>
{% endblock %}