{% extends "FOSUserBundle::jeu.html.twig" %}

{% block title %}Mafia - Jouer{% endblock %}

{% block fos_user_content %}
    <script>
        var lock = false;
        var mydiv = $('#chat_ig');
        mydiv.scrollTop(mydiv.prop('scrollHeight'));

        var phase = {{ partie.phaseEnCours }};
        var tempsRestant = {{ tempsRestant }};

        setInterval( function(){
            timer();
        }, 1000);

        var enVieId = [];
        var enViePseudo = [];
        {% for key, vivant in enVieId %}
            enVieId[{{ key }}] = {{ vivant }};
            enViePseudo[{{ key }}] = "{{ enViePseudo[key] }}";

        {% endfor %}

        function charger(){
            setInterval( function(){
                demanderInfo();
            }, 4000);
        }

        function votePourTellePersonne(id)
        {
            var premierID = $('#chat_ig div:last').attr('id'); // on récupère l'id le plus récent
            if (premierID == undefined) {
                premierID = 0;
            }
            $.post('{{ path('voter_pour')}}',{id: id, premierid: premierID}, function (data) {
                if(data['statut'] == "FAIL"){
                    $('#chat_ig').append("<div id='"+ $('#chat_ig div:last').attr('id') +"' ><b>Erreur</b></div>");
                    var mydiv = $('#chat_ig');
                    mydiv.scrollTop(mydiv.prop('scrollHeight'));
                }
                else if(data['statut'] == "BADVOTE"){

                    $('#chat_ig').append("<div id='"+ $('#chat_ig div:last').attr('id') +"' ><b>Ceci n'est pas un vote valide</b></div>");
                    var mydiv = $('#chat_ig');
                    mydiv.scrollTop(mydiv.prop('scrollHeight'));
                }
                else
                {
                    if(data['action'] == "Annuler"){
                        if(data['ancien'] != ""){
                            $('#votePour'+data['ancien']).html("Voter");
                        }
                    }
                    $('#votePour'+id).html(data['action']);

                    if(!lock) {
                        afficherMessage(data['messages']);
                    }
                }
            });
        }

        function chargerVivants()
        {
            var listeEnVie = $("#joueursEnVie");
            var li;
            if(document.getElementsByClassName("colonne_nom_joueur") != undefined) {
                if (document.getElementsByClassName("colonne_nom_joueur").length != enVieId.length) {
                    listeEnVie.empty();
                    for (var i in enViePseudo) {
                        li = document.createElement("li");
                        li.appendChild(document.createTextNode(enViePseudo[i]));
                        li.className = "joueurEnVie";
                        listeEnVie.append(li);
                    }
                }
            }
        }

        function cacherBoutonsVotes()
        {
            {% for id in enVieId %}
                $('#votePour'+{{ id }}).hide();
            {% endfor %}
        }

        function demanderInfo(){

            var exPhase = phase;
            if(!lock) {
                lock = true;
                if (phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::AUBE') }}) {
                    var premierID = $('#chat_ig div:last').attr('id'); // on récupère l'id le plus récent
                    if (premierID == undefined) {
                        premierID = 0;
                    }
                    $.post('{{ path('demande_info_aube')}}', {premierid: premierID}, function (data) {
                        if (data['statut'] == "FAIL") {
                            $('#chat_ig').append("<div id='"+ $('#chat_ig div:last').attr('id') +"' ><b>Erreur</b></div>");
                        }
                        else {
                            afficherMessage(data['messages']);

                            cacherBoutonsVotes();
                            phase = data["phase"];

                            recupDuree(exPhase);
                        }
                        lock = false;
                    });
                }
                else if (phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::JOUR') }}) {
                    var premierID = $('#chat_ig div:last').attr('id'); // on récupère l'id le plus récent
                    if (premierID == undefined) {
                        premierID = 0;
                    }

                    $.post('{{ path('demande_info_jour')}}', {premierid: premierID}, function (data) {
                        if (data['statut'] == "FAIL") {
                            $('#chat_ig').append("<div id='"+ $('#chat_ig div:last').attr('id') +"' ><b>Erreur</b></div>");
                        }
                        else {
                            enVieId = data['enVieId'];
                            enViePseudo = data['enViePseudo'];
                            //chargerVivants();

                            afficherMessage(data['messages']);

                            {% for id in enVieId %}
                                {% if id != monId %}
                                    $('#votePour'+{{ id }}).show();
                                {% endif %}
                            {% endfor %}

                            phase = data["phase"];
                            recupDuree(exPhase);
                        }
                        lock = false;
                    });
                }
                else if (phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::DISCUSSION') }}) {
                    var premierID = $('#chat_ig div:last').attr('id'); // on récupère l'id le plus récent
                    if (premierID == undefined) {
                        premierID = 0;
                    }
                    $.post('{{ path('demande_info_discussion')}}', {premierid: premierID}, function (data) {
                        if (data['statut'] == "FAIL") {
                            $('#chat_ig').append("<div id='"+ $('#chat_ig div:last').attr('id') +"' ><b>Erreur</b></div>");
                        }
                        else {
                            afficherMessage(data['messages']);

                            cacherBoutonsVotes();
                            phase = data["phase"];
                            recupDuree(exPhase);
                        }
                        lock = false;
                    });
                }
                else if (phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::NUIT') }}) {
                    var premierID = $('#chat_ig div:last').attr('id'); // on récupère l'id le plus récent
                    if (premierID == undefined) {
                        premierID = 0;
                    }
                    $.post('{{ path('demande_info_nuit')}}', {premierid: premierID}, function (data) {
                        if (data['statut'] == "FAIL") {
                            //alert("fail");
                            $('#chat_ig').append("<div id='"+ $('#chat_ig div:last').attr('id') +"' ><b>Erreur</b></div>");
                        }
                        else {
                            afficherMessage(data['messages']);

                            cacherBoutonsVotes();
                            phase = data["phase"];
                            recupDuree(exPhase);
                        }
                        lock = false;
                    });
                }
                else if (phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::TRIBUNAL_DEFENSE') }}) {
                    var premierID = $('#chat_ig div:last').attr('id'); // on récupère l'id le plus récent
                    if (premierID == undefined) {
                        premierID = 0;
                    }
                    $.post('{{ path('demande_info_tribunal_defense')}}', {premierid: premierID}, function (data) {
                        if (data['statut'] == "FAIL") {
                            $('#chat_ig').append("<div id='"+ $('#chat_ig div:last').attr('id') +"' ><b>Erreur</b></div>");
                        }
                        else {
                            afficherMessage(data['messages']);

                            cacherBoutonsVotes();
                            phase = data["phase"];
                            recupDuree(exPhase);
                        }
                        lock = false;
                    });
                }
                else if (phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::TRIBUNAL_VOTE') }}) {
                    var premierID = $('#chat_ig div:last').attr('id'); // on récupère l'id le plus récent
                    if (premierID == undefined) {
                        premierID = 0;
                    }
                    $.post('{{ path('demande_info_tribunal_vote')}}', {premierid: premierID}, function (data) {
                        if (data['statut'] == "FAIL") {
                            $('#chat_ig').append("<div id='"+ $('#chat_ig div:last').attr('id') +"' ><b>Erreur</b></div>");
                        }
                        else {
                            afficherMessage(data['messages']);

                            cacherBoutonsVotes();
                            phase = data["phase"];
                            recupDuree(exPhase);
                        }
                        lock = false;
                    });
                }
                else if (phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::RESULTAT_VOTE') }}) {
                    var premierID = $('#chat_ig div:last').attr('id'); // on récupère l'id le plus récent
                    if (premierID == undefined) {
                        premierID = 0;
                    }
                    $.post('{{ path('demande_info_vote_resultat')}}', {premierid: premierID}, function (data) {
                        if (data['statut'] == "FAIL") {
                            $('#chat_ig').append("<div id='"+ $('#chat_ig div:last').attr('id') +"' ><b>Erreur</b></div>");
                        }
                        else {
                            afficherMessage(data['messages']);

                            cacherBoutonsVotes();
                            phase = data["phase"];
                            recupDuree(exPhase);
                        }
                        lock = false;
                    });
                }
                else if (phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::EXECUTION') }}) {
                    var premierID = $('#chat_ig div:last').attr('id'); // on récupère l'id le plus récent
                    if (premierID == undefined) {
                        premierID = 0;
                    }
                    $.post('{{ path('demande_info_execution')}}', {premierid: premierID}, function (data) {
                        if (data['statut'] == "FAIL") {
                            $('#chat_ig').append("<div id='"+ $('#chat_ig div:last').attr('id') +"' ><b>Erreur</b></div>");
                        }
                        else {
                            afficherMessage(data['messages']);

                            cacherBoutonsVotes();
                            phase = data["phase"];
                            recupDuree(exPhase);
                        }
                        lock = false;
                    });
                }

            }

        }

        function afficherMessage(messages){
            for (var i in messages) {
                var d = messages[i]['date']['date'].split(" ");

                if(messages[i]['systeme']){
                    $('#chat_ig').append("<div class='msgSysteme' id='" + messages[i]['id'] + "'> [" + d[1] + "] <b>" + messages[i]['pseudo'] + "</b>: " + messages[i]['message'] + "</div>");
                }
                else{
                    $('#chat_ig').append("<div id='" + messages[i]['id'] + "'> [" + d[1] + "] <b>" + messages[i]['pseudo'] + "</b>: " + messages[i]['message'] + "</div>");
                }

            }

            var mydiv = $('#chat_ig');
            mydiv.scrollTop(mydiv.prop('scrollHeight'));
        }

        function recupDuree(exPhase)
        {
            if(exPhase != phase)
            {
                if (phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::AUBE') }}) {
                    $('#phaseEnCours').text("Aube");
                }
                else if (phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::JOUR') }}) {
                    $('#phaseEnCours').text("Jour");
                }
                else if (phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::DISCUSSION') }}) {
                    $('#phaseEnCours').text("Discussion");
                }
                else if (phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::NUIT') }}) {
                    $('#phaseEnCours').text("Nuit");
                    {% for id in enVieId %}
                        $('#votePour'+{{ id }}).html("Voter");
                    {% endfor %}
                }
                else if (phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::TRIBUNAL_DEFENSE') }}) {
                    $('#phaseEnCours').text("Tribunal: Défense");
                }
                else if (phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::TRIBUNAL_VOTE') }}) {
                    $('#phaseEnCours').text("Tribunal: Vote");
                }
                else if (phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::RESULTAT_VOTE') }}) {
                    $('#phaseEnCours').text("Résultat des votes");
                }
                else if (phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::EXECUTION') }}) {
                    $('#phaseEnCours').text("Execution");
                }

                $.post('{{ path('demande_duree')}}', {
                }, function (data) {
                    if(data['statut'] == "FAIL"){
                        $('#chat_ig').append("<div id='"+ $('#chat_ig div:last').attr('id') +"' ><b>L'utilisateur n'existe pas</b></div>");
                    }
                    else
                    {
                        tempsRestant = data['dureePhase'];

                    }
                });
            }
        }

        function timer()
        {
            if(isNaN(tempsRestant))
            {
                $.post('{{ path('demande_duree')}}', {
                }, function (data) {
                    if(data['statut'] == "FAIL"){
                        $('#chat_ig').append("<div id='"+ $('#chat_ig div:last').attr('id') +"' ><b>L'utilisateur n'existe pas</b></div>");
                    }
                    else
                    {
                        tempsRestant = data['dureePhase'];

                    }
                });
            }
            if(tempsRestant > 0) {
                tempsRestant--;
            }
            $('#timerDiv').text(tempsRestant);
        }

        function lastWord()
        {
            var lastWord = prompt("Entrez vos derniers mots","Je veux tout léguer aux créateurs de ce site");
            $.post('{{ path('last_word')}}',{lastWord: lastWord}, function (data) {
                if(data['statut'] == "FAIL"){
                    $('#chat_ig').append("<div id='"+ $('#chat_ig div:last').attr('id') +"' ><b>L'utilisateur n'existe pas</b></div>");
                }
                else
                {

                }
            });
        }

        function deathNote()
        {
            var deathNote = prompt("Entrez votre death note","I will be back");
            $.post('{{ path('death_note')}}',{deathNote: deathNote}, function (data) {
                if(data['statut'] == "FAIL"){
                    $('#chat_ig').append("<div id='"+ $('#chat_ig div:last').attr('id') +"' ><b>L'utilisateur n'existe pas</b></div>");
                }
                else
                {

                }
            });
        }

        function envoyer(){
            var message = $("#form_message").val();
            var premierID = $('#chat_ig div:last').attr('id'); // on récupère l'id le plus récent
            if (premierID == undefined) {
                premierID = 0;
            }
            var DATA = 'message=' + message + '&premierid=' + premierID;
            $("#form_message").val("");
            $.ajax({
                type: "POST",
                url: "{{ path('message_ig')}}",
                data: DATA,
                cache: false,
                success: function (data) {
                    if(data.error){
                        if(phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::NUIT') }}){
                            $('#chat_ig').append("<div id='"+ $('#chat_ig div:last').attr('id') +"' ><b>Vous ne pouvez pas parler la nuit</b></div>");
                        }else{
                            $('#chat_ig').append("<div id='"+ $('#chat_ig div:last').attr('id') +"' ><b>le message n'a pas été envoyé</b></div>");
                        }
                    }
                    demanderInfo();
                }
            });

            return false;
        }



        charger();
        //chargerVivants();

    </script>
    <div>
        En Vie:
        <ul id="joueursEnVie">
            {% for p in enViePseudo %}
                <li>{{ p }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="table">
        <div id="colonne_gauche">
            <div id="cimetiere">
               <b>Cimetiere</b>
                <div id="liste_cimetiere">
                    Joueur 1 Mort<br/>
                    Joueur 2 Mort<br/>
                    Joueur 1 Mort<br/>
                    Joueur 1 Mort<br/>
                    Joueur 1 Mort<br/>
                    Joueur 1 Mort<br/>
                    Joueur 1 Mort<br/>
                    Joueur 1 Mort<br/>
                    Joueur 1 Mort<br/>
                    Joueur 1 Mort<br/>
                    Joueur 1 Mort<br/>
                    Joueur 1 Mort<br/>
                    Joueur 1 Mort<br/>
                    Joueur 1 Mort<br/>
                    Joueur 1 Mort
                </div>
            </div>
            <button onclick="deathNote();" type="button" title="Death Note: un petit message attaché avec le corps de vos victimes">DN</button><button onclick="lastWord();" type="button" title="Derniere Volontés: un message qui sera révélé à tout le monde quand vous mourrez">Derniers Mots</button>
            <div id="composition">
                <b>Composition</b>
                <div id="liste_composition">
                    {% for r in roles %}
                        {{ r }}<br/>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div id="colonne_milieu">
            <div id="chat_ig">
                <b>Chat</b>
                <div>

                    {% for msg in messages %}
                        {% if msg.systeme %}
                            <div id="{{ msg.id }}" class="msgSysteme">[{{ msg.date|date("H:i:s") }}] <b>{{ msg.pseudo }}</b>: {{ msg.message }}</div>
                        {% else %}
                            <div id="{{ msg.id }}">[{{ msg.date|date("H:i:s") }}] <b>{{ msg.pseudo }}</b>: {{ msg.message }}</div>
                        {% endif %}
                    {% endfor %}


                </div>
            </div>
            <div id="form_msg">
                <form id="form_chat"  method="post" onsubmit = "envoyer(); return false;">
                    {{ form_widget(form) }}

                    <button type="button" id="envoie_chat" onclick="envoyer(); return false;" title="Envoyer">Envoyer</button>
                </form>
            </div>
        </div>
        <div id="colonne_droite">
            <div id="role">
                <b>{{ monRole.nom }}</b>
                {% if monRole.faction == constant('Mafia\\RolesBundle\\Entity\\FactionEnum::VILLE') %}
                    <span class="ville">(Ville)</span>
                {% elseif monRole.faction == constant('Mafia\\RolesBundle\\Entity\\FactionEnum::MAFIA') %}
                <span class="mafia">(Mafia)</span>
                {% elseif monRole.faction == constant('Mafia\\RolesBundle\\Entity\\FactionEnum::TRIADE') %}
                    <span class="triade">(Triade)</span>
                {% elseif monRole.faction == constant('Mafia\\RolesBundle\\Entity\\FactionEnum::NEUTRE') %}
                        <span class="neutre">(Neutre)</span>
                {% endif %}
                <br/>
                {{ monRole.descriptionPrincipale }}<br/><br/>
                <b>{-endur- % Equipe:</b><br/>
                Raph55 <b>(Parrain)</b><br/>
                Drae <b>(Mafioso)</b><br/>
                Pascal <b>(Mafioso)</b> - <i>Mort</i>}

                <br/><br/><b>Capacité de jour: </b> {{ monRole.capacite }}<br/><br/>

                <span class="descriptionSec">{{ monRole.description }}</span><br/>
            </div>
            <div id="timer">
                <span id="timerDiv"></span> - Phase:
                <span id="phaseEnCours">
                    {% if partie.phaseEnCours == constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::DISCUSSION') %}
                        Discussion
                    {% elseif partie.phaseEnCours == constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::JOUR') %}
                        Jour
                    {% elseif partie.phaseEnCours == constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::AUBE') %}
                        Aube
                    {% elseif partie.phaseEnCours == constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::NUIT') %}
                        Nuit
                    {% elseif partie.phaseEnCours == constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::EXECUTION') %}
                        Execution
                    {% elseif partie.phaseEnCours == constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::TRIBUNAL_DEFENSE') %}
                        Tribunal: Défense
                    {% elseif partie.phaseEnCours == constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::TRIBUNAL_VOTE') %}
                        Tribunal: Vote
                    {% elseif partie.phaseEnCours == constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::RESULTAT_VOTE') %}
                        Résultat des votes
                    {% endif %}
                </span>
            </div>
            <div id="votes">
                <table>
                    {% set cpt = 1 %}
                    {% for key, p in enViePseudo %}
                        <tr><td>{{ cpt }}</td><td class="colonne_nom_joueur"><b>{{ p }}</b> </td><td class="colonne_bouton_vote"><button id="{{ "votePour" ~ enVieId[key] }}" onclick="votePourTellePersonne({{ enVieId[key] }});" style="display:none" class="colonne_bouton_vote" {% if partie.phaseEnCours != constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::JOUR') %}hidden="hidden"{% endif %}>Voter</button></td></tr>
                        {% set cpt = cpt+1 %}
                    {% endfor %}


                </table>
            </div>
        </div>

    </div>
    <a href="{{path('suicide')}}"><button type="button" id="suicide" title="Suicide">Suicide</button></a>
{% endblock %}