{% extends "FOSUserBundle::jeu.html.twig" %}

{% block title %}Mafia - Jouer{% endblock %}

{% block fos_user_content %}
    <script>
        var phase = {{ partie.phaseEnCours }};

        var enVieId = [];
        var enViePseudo = [];
        {% for key, vivant in enVieId %}
            enVieId[{{ key }}] = {{ vivant }};
            enViePseudo[{{ key }}] = "{{ enViePseudo[key] }}";

        {% endfor %}

        function charger(){
            setInterval( function(){
                demanderInfo();
            }, 4000);
        }

        function votePourTellePersonne(id)
        {
            $.post('{{ path('voter_pour')}}',{id: id}, function (data) {
                if(data['statut'] == "FAIL"){
                    alert("fail");
                }
                else if(data['statut'] == "BADVOTE"){
                    alert("Ceci n'est pas un vote valide");
                }
                else
                {
                    if(data['action'] == "Annuler"){
                        if(data['ancien'] != ""){
                            $('#votePour'+data['ancien']).html("Voter");
                        }
                    }
                    $('#votePour'+id).html(data['action']);
                }
            });
        }

        function chargerVivants()
        {
            var listeEnVie = $("#joueursEnVie");
            var li;
            if(document.getElementsByClassName("colonne_nom_joueur") != undefined) {
                if (document.getElementsByClassName("colonne_nom_joueur").length != enVieId.length) {
                    listeEnVie.empty();
                    for (var i in enViePseudo) {
                        li = document.createElement("li");
                        li.appendChild(document.createTextNode(enViePseudo[i]));
                        li.className = "joueurEnVie";
                        listeEnVie.append(li);
                    }
                }
            }
        }

        function cacherBoutonsVotes()
        {
            $(".colonne_bouton_vote").each(function(){
                $(this).hide();
            });
        }

        function demanderInfo(){

            if(phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::AUBE') }})
            {
                $.post('{{ path('demande_info_aube')}}', {
                    }, function (data) {
                        if(data['statut'] == "FAIL"){
                            alert("fail");
                        }
                        else
                        {
                            cacherBoutonsVotes();
                            phase = data["phase"];
                            $('#phaseEnCours').text("Aube");
                        }
                });
            }
            else if(phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::JOUR') }})
            {
                $.post('{{ path('demande_info_jour')}}', {
                }, function (data) {
                    if(data['statut'] == "FAIL"){
                        alert("fail");
                    }
                    else
                    {
                        enVieId = data['enVieId'];
                        enViePseudo = data['enViePseudo'];
                        //chargerVivants();

                        $(".colonne_bouton_vote").each(function(){
                            $(this).show();
                        });

                        phase = data["phase"];
                        $('#phaseEnCours').text("Jour");
                    }
                });
            }
            else if(phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::DISCUSSION') }})
            {
                $.post('{{ path('demande_info_discussion')}}', {
                }, function (data) {
                    if(data['statut'] == "FAIL"){
                        alert("fail");
                    }
                    else
                    {
                        cacherBoutonsVotes();
                        phase = data["phase"];
                        $('#phaseEnCours').text("Discussion");
                    }
                });
            }
            else if(phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::NUIT') }})
            {
                $.post('{{ path('demande_info_nuit')}}', {
                }, function (data) {
                    if(data['statut'] == "FAIL"){
                        alert("fail");
                    }
                    else
                    {
                        cacherBoutonsVotes();
                        phase = data["phase"];
                        $('#phaseEnCours').text("Nuit");
                    }
                });
            }
            else if(phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::TRIBUNAL_DEFENSE') }})
            {
                $.post('{{ path('demande_info_tribunal_defense')}}', {
                }, function (data) {
                    if(data['statut'] == "FAIL"){
                        alert("fail");
                    }
                    else
                    {
                        cacherBoutonsVotes();
                        phase = data["phase"];
                        $('#phaseEnCours').text("Tribunal: Défense");
                    }
                });
            }
            else if(phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::TRIBUNAL_VOTE') }})
            {
                $.post('{{ path('demande_info_tribunal_vote')}}', {
                }, function (data) {
                    if(data['statut'] == "FAIL"){
                        alert("fail");
                    }
                    else
                    {
                        cacherBoutonsVotes();
                        phase = data["phase"];
                        $('#phaseEnCours').text("Tribunal: Vote");
                    }
                });
            }
            else if(phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::RESULTAT_VOTE') }})
            {
                $.post('{{ path('demande_info_vote_resultat')}}', {
                }, function (data) {
                    if(data['statut'] == "FAIL"){
                        alert("fail");
                    }
                    else
                    {
                        cacherBoutonsVotes();
                        phase = data["phase"];
                        $('#phaseEnCours').text("Résultat des votes");
                    }
                });
            }
            else if(phase == {{ constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::EXECUTION') }})
            {
                $.post('{{ path('demande_info_execution')}}', {
                }, function (data) {
                    if(data['statut'] == "FAIL"){
                        alert("fail");
                    }
                    else
                    {
                        cacherBoutonsVotes();
                        phase = data["phase"];
                        $('#phaseEnCours').text("Execution");
                    }
                });
            }

        }

        charger();
        //chargerVivants();

    </script>
    <div>
        En Vie:
        <ul id="joueursEnVie">
            {% for p in enViePseudo %}
                <li>{{ p }}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="table">
        <div id="colonne_gauche">
            <div id="cimetiere">
               <b>Cimetiere</b>
                <div id="liste_cimetiere">
                    Joueur 1 Mort<br/>
                    Joueur 2 Mort<br/>
                    Joueur 1 Mort<br/>
                    Joueur 1 Mort<br/>
                    Joueur 1 Mort<br/>
                    Joueur 1 Mort<br/>
                    Joueur 1 Mort<br/>
                    Joueur 1 Mort<br/>
                    Joueur 1 Mort<br/>
                    Joueur 1 Mort<br/>
                    Joueur 1 Mort<br/>
                    Joueur 1 Mort<br/>
                    Joueur 1 Mort<br/>
                    Joueur 1 Mort<br/>
                    Joueur 1 Mort
                </div>
            </div>
            <button type="button" title="Death Note: un petit message attaché avec le corps de vos victimes">DN</button><button type="button" title="Derniere Volontés: un message qui sera révélé à tout le monde quand vous mourrez">Derniere Volontés</button>
            <div id="composition">
                <b>Composition</b>
                <div id="liste_composition">
                    Sheriff<br/>
                    Inspecteur<br/>
                    Inspecteur<br/>
                    Inspecteur<br/>
                    Inspecteur<br/>
                    Inspecteur<br/>
                    Inspecteur<br/>
                    Inspecteur<br/>
                    Inspecteur<br/>
                    Inspecteur<br/>
                    Inspecteur<br/>
                    Inspecteur<br/>
                    Mafioso<br/>
                    Mafioso<br/>
                    Parrain
                </div>
            </div>
        </div>
        <div id="chat">
            <b>Chat</b>
            <div>
                <b>J9:</b> Message 1<br/>
                <b>J4:</b> Message 2<br/>
                <b>J2:</b> Message 3<br/>
                <b>C'est la nuit</b><br/>
                <b>C'est le jour</b>
            </div>

        </div>
        <div id="colonne_droite">
            <div id="role">
                <b>Parrain:</b><br/>
                Vous dirigez la mafia. Ca envoie du paté.<br/>
                Vous pouvez tuer des gens, c'est trop génial.<br/><br/>
                <b>Equipe:</b><br/>
                Raph55 <b>(Parrain)</b><br/>
                Drae <b>(Mafioso)</b><br/>
                Pascal <b>(Mafioso)</b> - <i>Mort</i>

                <br/><br/><b>Capacité de jour: </b> Aucune
            </div>
            <div id="timer">
                3:54 - Phase:
                <span id="phaseEnCours">
                    {% if partie.phaseEnCours == constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::DISCUSSION') %}
                        Discussion
                    {% elseif partie.phaseEnCours == constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::JOUR') %}
                        Jour
                    {% elseif partie.phaseEnCours == constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::AUBE') %}
                        Aube
                    {% elseif partie.phaseEnCours == constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::NUIT') %}
                        Nuit
                    {% elseif partie.phaseEnCours == constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::EXECUTION') %}
                        Execution
                    {% elseif partie.phaseEnCours == constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::TRIBUNAL_DEFENSE') %}
                        Tribunal: Défense
                    {% elseif partie.phaseEnCours == constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::TRIBUNAL_VOTE') %}
                        Tribunal: Vote
                    {% elseif partie.phaseEnCours == constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::RESULTAT_VOTE') %}
                        Résultat des votes
                    {% endif %}
                </span>
            </div>
            <div id="votes">
                <table>
                    {% for key, p in enViePseudo %}
                        <tr><td class="colonne_nom_joueur"><b>{{ p }}</b> </td><td class="colonne_bouton_vote"><button id="{{ "votePour" ~ enVieId[key] }}" onclick="votePourTellePersonne({{ enVieId[key] }});" class="colonne_bouton_vote" {% if partie.phaseEnCours != constant('Mafia\\PartieBundle\\Entity\\PhaseJeuEnum::JOUR') %}hidden="hidden"{% endif %}>Voter</button></td></tr>
                    {% endfor %}


                </table>
            </div>
        </div>

    </div>
    <a href="{{path('suicide')}}"><button type="button" id="suicide" title="Suicide">Suicide</button></a>
{% endblock %}