{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Mafia - Jouer{% endblock %}

{% block fos_user_content %}

    <script>
        var lock = false;
        $(function() {
            $("#envoie_chat").click(function () {
                envoyer();
            });

            $("#form_param").change(function (){
                var DATA = 'param=' + $(this).val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('changer_param')}}",
                    data: DATA,
                    cache: false,
                    success: function (data) {
                        recevoirMessage();
                    }
                });
            });

            $("#form_compo").change(function (){
                var DATA = 'compo=' + $(this).val();
                $.ajax({
                    type: "POST",
                    url: "{{ path('changer_compo')}}",
                    data: DATA,
                    cache: false,
                    success: function (data) {
                        recevoirMessage();
                        getComposition();
                    }
                });
            });

            var mydiv = $('.jouer_chat');
            mydiv.scrollTop(mydiv.prop('scrollHeight'));
        });

        function envoyer(){
            var message = $("#form_message").val();
            var premierID = $('.jouer_chat div:last').attr('id'); // on récupère l'id le plus récent
            if (premierID == undefined) {
                premierID = 0;
            }
            var DATA = 'message=' + message + '&premierid=' + premierID;
            $("#form_message").val("");
            $.ajax({
                type: "POST",
                url: "{{ path('chat_message')}}",
                data: DATA,
                cache: false,
                success: function (data) {
                    recevoirMessage();
                }
            });

            return false;
        }

        function lancerPartie(){
            $.ajax({
                type: "POST",
                url: "{{ path('lancer_partie')}}",
                cache: false,
                success: function (data) {
                   if(data.lancer){
                       $('.jouer_chat').append("<div >Lancement de la partie...</div>");

                   }
                    else{
                       if(data.compo){
                           alert("Pas assez/trop de roles dans la composition");
                       }
                       else {
                           alert("Pas assez de joueurs");
                       }
                   }
                }
            });
        }

        function charger(){
            setInterval( function(){
                recevoirMessage();
            }, 4000);

        }

        function getComposition(){
            $.ajax({
                type: "POST",
                url: "{{ path('get_composition')}}",
                cache: false,
                success: function (data) {
                    $("#liste_roles").html("");
                    for (var i in data.roles) {
                        $("#liste_roles").append(data.roles[i] + "<br/>");
                    }
                }
            });
        }

        function recevoirMessage(){
            if(!lock) {
                lock = true;
                var premierID = $('.jouer_chat div:last').attr('id'); // on récupère l'id le plus récent
                if (premierID == undefined) {
                    premierID = 0;
                }
                var DATA = 'premierid=' + premierID;
                $.ajax({
                    type: "POST",
                    url: "{{ path('chat_message_recevoir')}}",
                    data: DATA,
                    cache: false,
                    success: function (data) {
                        for (var i in data.messages) {
                            $('.jouer_chat').append("<div id='" + data.messages[i]['id'] + "'> " + data.messages[i]['pseudo'] + ": " + data.messages[i]['message'] + "</div>");

                        }
                        var listeUsers = "";
                        for (var j in data.users) {
                            listeUsers = listeUsers + data.users[j] + "<br/>";
                        }

                        $('#liste_user').html(listeUsers);
                        var mydiv = $('.jouer_chat');
                        mydiv.scrollTop(mydiv.prop('scrollHeight'));

                        if(data.createur){
                            $('#lancer_partie').prop('disabled', false);
                            $('#form_param').prop('disabled', false);
                            $('#form_compo').prop('disabled', false);
                        }
                        else{
                            $('#lancer_partie').prop('disabled', true);
                            $('#form_param').prop('disabled', true);
                            $('#form_compo').prop('disabled', true);
                        }

                        if(data.lancer){
                            window.location.replace("{{ path('jeu') }}")
                        }

                        if(data.param != $("#form_param").val()){
                            $("#form_param").val(data.param);
                        }

                        if(data.compo != $("#form_compo").val()){
                            $("#form_compo").val(data.compo);
                            getComposition();
                        }

                        lock = false;
                    }
                });
            }
        }

        charger();
    </script>

    <h2>Rejoindre/créer une partie</h2>

    <div class="table">
        <div class="jouer_choix_param">
            <form id="form_parametres"  method="post" onsubmit = "return false;">
                {{ form_widget(paramForm) }}
            </form>
        </div>
        <div class="jouer_choix_compo">
            <form id="form_compositions"  method="post" onsubmit = "return false;">
                {{ form_widget(compoForm) }}
            </form>
        </div>
    </div>

    <div class="table">
        <div class="jouer_chat">
            <h2>Chat</h2>
            {% for msg in messages %}
                <div id="{{ msg.id }}">{{ msg.pseudo }}: {{ msg.message }}
                </div>
            {% endfor %}
        </div>
        <div class="jouer_user_connectes"><h4>Liste des joueurs connectés</h4>
            <div id="liste_user">
                {% for us in users %}
                    {{ us }}<br/>
                {% endfor %}
            </div>
        </div>
        <div id="liste_roles">
            {% for r in roles %}
                {{ r }}<br/>
            {% endfor %}
        </div>
    </div>
    <form id="form_chat"  method="post" onsubmit = "envoyer(); return false;">
        {{ form_widget(form) }}

        <button type="button" id="envoie_chat" title="Envoyer">Envoyer</button>
    </form>

    <button type="button" id="lancer_partie" title="Lancer la partie !" onclick="lancerPartie();">Lancer la partie !</button>
{% endblock %}