{% extends "FOSUserBundle::layout.html.twig" %}

{% block title %}Mafia - Jouer{% endblock %}

{% block fos_user_content %}

    <script>
        $(function() {
            $("#envoie_chat").click(function () {

                var message = $("#form_message").val();
                var premierID = $('.jouer_chat div:last').attr('id'); // on récupère l'id le plus récent
                if(premierID == undefined){premierID = 0;}
                var DATA = 'message=' + message + '&premierid=' + premierID;
                $("#form_message").val("");
                $.ajax({
                    type: "POST",
                    url: "{{ path('chat_message')}}",
                    data: DATA,
                    cache: false,
                    success: function(data){

                    }
                });
                return false;

            });

            var mydiv = $('.jouer_chat');
            mydiv.scrollTop(mydiv.prop('scrollHeight'));

        });

        function charger(){
            setInterval( function(){
                var premierID = $('.jouer_chat div:last').attr('id'); // on récupère l'id le plus récent
                if(premierID == undefined){premierID = 0;}
                var DATA = 'premierid=' + premierID;
                $.ajax({
                    type: "POST",
                    url: "{{ path('chat_message_recevoir')}}",
                    data: DATA,
                    cache: false,
                    success: function(data){
                        for(var i in data.messages){
                            $('.jouer_chat').append("<div id='" + data.messages[i]['id'] + "'> " + data.messages[i]['pseudo'] + ": " + data.messages[i]['message'] + "</div>");
                        }
                        var mydiv = $('.jouer_chat');
                        mydiv.scrollTop(mydiv.prop('scrollHeight'));
                    }
                });
            }, 4000);
        }

        charger();
    </script>

    <h2>Rejoindre/créer une partie</h2>

    <div class="table">
        <p class="jouer_choix_param">Choix paramètres</p>
        <p class="jouer_choix_compo">Choix composition</p>
    </div>

    <div class="table">
        <div class="jouer_chat">
            <h2>Chat</h2>
            {% for msg in messages %}
                <div id="{{ msg.id }}">{{ msg.pseudo }}: {{ msg.message }}
                </div>
            {% endfor %}
        </div>
        <p class="jouer_user_connectes">Liste des joueurs connectés</p>
    </div>
    <form id="form_chat"  method="post">
        {{ form_widget(form) }}

        <button type="button" id="envoie_chat" title="Envoyer">Envoyer</button>
    </form>


{% endblock %}