{% extends "FOSUserBundle::layout.html.twig" %}


{% block title %}Mafia - Paramètres{% endblock %}

{% block fos_user_content %}
    <a href="{{ path('liste_parametres') }}">Retour à la liste des paramètres</a>

    <h3>Nom des paramètres : {{ parametres.nomParametres }}</h3>

    <h4>Durée du jour : {{ parametres.dureeDuJour }} minutes</h4>

    <h4>Type de jugement:
        {% if parametres.enumTypeDeJugement == 0 %}
            Majorité
        {% elseif parametres.enumTypeDeJugement == 1 %}
            Procès
        {% elseif parametres.enumTypeDeJugement == 2 %}
            Scrutin secret
        {% elseif parametres.enumTypeDeJugement == 3 %}
            Scrutin secret + procès
        {% endif %}
    </h4>

    <h4>Durée de la nuit: {{ parametres.dureeDeLaNuit }} minutes</h4>

    <h4>Denières volontés:
        {% if  parametres.dernieresVolontes %}
            Oui
        {% else %}
            Non
        {% endif %}
    </h4>

    <h4>Temps de discussion: {{ parametres.tempsDeDiscussion }} minutes</h4>

    <h4>Début du jeu:
        {% if parametres.debutDuJeu == 0 %}
            Nuit
        {% elseif parametres.debutDuJeu == 1 %}
            Jour
        {% elseif parametres.debutDuJeu == 2 %}
            Jour sans lynchage
        {% endif %}
    </h4>

    <h4>Type de nuit:
        {% if parametres.typeDeNuit == 0 %}
            Séquence
        {% elseif parametres.typeDeNuit == 1 %}
            Description morts
        {% elseif parametres.typeDeNuit == 2 %}
            Nuit classique
        {% endif %}
    </h4>

    <h4>Messages privés autorisés:
        {% if  parametres.messagePrives %}
            Oui
        {% else %}
            Non
        {% endif %}
    </h4>

    <h4>Phase de discussion:
        {% if  parametres.phaseDiscussion  %}
            Oui
        {% else %}
            Non
        {% endif %}
    </h4>

    <h4>Choisir nom:
        {% if parametres.choisirNom   %}
            Oui
        {% else %}
            Non
        {% endif %}
    </h4>

    <h4>Officiel:
        {% if  parametres.officiel  %}
            Oui
        {% else %}
            Non
        {% endif %}
    </h4>

{% endblock %}