{% extends "FOSUserBundle::layout.html.twig" %}


{% block title %}Mafia - Administration{% endblock %}

{% block fos_user_content %}
    {% if is_granted("ROLE_ADMIN") %}
        <h2>Tableau d'administration</h2>

        <a href="{{ path('creation_role') }}">+ Créer un rôle</a><br/>
        <a href="{{ path('creation_crime') }}">+ Créer un crime</a><br/>
        <a href="{{ path('creation_categorie') }}">+ Créer une catégorie</a><br/>
        <a href="{{ path('creation_parametres') }}">+ Créer des paramètres</a><br/>


        <div class="well">
            <form method="post" {{ form_enctype(promotion) }}>
                {{ form_widget(promotion) }}
                <input type="submit" class="btn btn-primary" />
            </form>
        </div>

    {% endif %}
{% endblock %}