{% extends "FOSUserBundle::layout.html.twig" %}


{% block title %}Mafia - Modération{% endblock %}

{% block fos_user_content %}
    {% if is_granted("ROLE_MODERATEUR") %}
        <h2>Tableau de modération</h2>

        <a href="{{ path('bannissements') }}">Voir bannissements</a>
        <a href="{{ path('requetes_ouvertes') }}" >Voir requêtes</a>
        Voir dénonciations

        <div class="derniersBans">
            <h2>Derniers bans</h2>
            {% for ban in derniersBans %}
                <fieldset>
                    <label><a href="{{ path('bannissements_user',{id:ban.userBanni.id}) }}">{{ ban.userBanni }}</a></label><br/>
                    Banni par {{ ban.modoBannant }}<br/>
                    {{ ban.explication }}<br/>
                    Début : {{ ban.debutBannissement|date('d/m/Y H:i:s') }}<br/>
                    Temps :
                    {% if ban.unite == 'F' %}
                        Définif
                    {% else %}
                        {{ ban.tempsBannissement }}
                        {% if ban.unite == 'I' %}
                            minutes
                        {% elseif ban.unite == 'H' %}
                            heures
                        {% elseif ban.unite == 'S' %}
                            secondes
                        {% elseif ban.unite =='D' %}
                            jours
                        {% else %}
                            mois
                        {% endif %}
                    {% endif %}

                </fieldset>
            {% endfor %}
        </div>


    {% endif %}
{% endblock %}